:root {
  --darkPurple: #0b0434;
  --medPurple: #7848f4;
  --lightPurple: #e0d3fb;
  --orange: #f78f1e;
  --grey: #e9eaef;
  --white: #e0d3fb;
  --medBorder: 8px;
  --per: Permanent Marker;
  --exo: "Exo 2";
  --cater: "Carter One";
}

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Exo+2&family=Permanent+Marker&display=swap");
label {
  display: block !important;
  margin: 10px 0;
}

* {
  font-family: var(--cater);
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(90deg);
  }
}

label {
  display: block !important;
  margin: 10px 0;
}

input {
  width: 100%;
}

button {
  margin: 10px 0 !important;
}

i {
  margin: 0 0 0 10px;
  transition: all 0.5s;
}

button:hover i {
  margin: 0 0 0 30px;
  animation: spin 0.5s forwards;
}

/* body {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
} */

.tab-content {
  background-color: var(--medPurple);
  padding: 40px;
  border-radius: var(--medBorder);
}

button .active {
  background-color: var(--lightPurple);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--grey);
  border-bottom: 10px solid var(--darkPurple);
  position: fixed;
  top: 0;
  width: 100%;
}

.header-in {
  margin: 0 100px;
  font-size: 75pt;
  color: var(--medPurple);
  font-family: var(--exo);
}

.container {
  margin-top: 500px;
}

img {
  width: 300px;
}

h2 {
  font-family: var(--exo) !important;
}

.text {
  background-color: var(--lightPurple);
  padding: 20px;
  border-radius: var(--medBorder);
  margin: 20px 0;
  font-size: 15pt;
  color: var(--darkPurple);
}

.text h2 {
  color: var(--darkPurple);
  font-size: 40pt;
}

.btn-dark {
  background-color: var(--darkPurple) !important;
}
